body {
  font-family: "Rubik";
}

.box {
  margin: auto;
  margin-bottom: 12px;
  width: 18rem;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  border: none;
  color: white;
  padding: 2%;
}

.srch:focus{
  outline: none;
  box-shadow: none;
}
